extends layout

block content
    script(type='text/javascript').

    #container.wrapper
      // (s) contents
      .toast-wrap
        .keypad &#xD0A4;&#xD328;&#xB4DC;
      .contents
        .inner-box
          header.header
            h1.logo
              a(href='http://kr.plaync.com')
                span plaync
          section.login-wrap
            form#loginForm.account-form(name='loginForm', method='post', action='/login', novalidate='')
              fieldset
                legend plaync &#xB85C;&#xADF8;&#xC778;
                .input-account-wrap
                  .select-account
                    .dropdown
                      label &#xC11C;&#xBE44;&#xC2A4;
                      select#service_code(name='game_id')
                        option(value='13') &#xD1B5;&#xD569;&#xACC4;&#xC815;
                        option(value='31') &#xB9AC;&#xB2C8;&#xC9C0;
                        option(value='32') &#xB9AC;&#xB2C8;&#xC9C0;2
                  .input-email
                    label(for='login_name') &#xC544;&#xC774;&#xB514; &#xB610;&#xB294; &#xC774;&#xBA54;&#xC77C;
                    input#login_name(type='text', name='id', maxlength='64', autocomplete='off', autocapitalize='off', placeholder='아이디 또는 이메일', tabindex='1', value='')
                    span.btn-delete &#xC0AD;&#xC81C;
                    span.msg
                .input-pwd
                  label(for='password') &#xBE44;&#xBC00;&#xBC88;&#xD638;
                  input#password(type='password', name='password', maxlength='16', autocomplete='off', autocapitalize='off', placeholder='비밀번호', tabindex='2')
                  span.btn-delete &#xC0AD;&#xC81C;
                  span.msg
                .login-util
                  .keypad-btn
                    span keyboard &#xBCF4;&#xAE30;

                - var msg = "#{message}"
                #msg(style="text-align:center;color:#ff0000") 
                  if msg
                    | #{message}
                br

                .btn-wrap
                  button#btnPlayncLogin.btn-login
                    span 로그인
                .btn-wrap
                  button.btn-login(type="button" onclick="location.href='/login/qrcode'" style="background-color: #e33954;")
                    span QR코드 로그인
              .account-info
                ul.account-info__list
                  li
                    a(href='#') &#xACC4;&#xC815; &#xCC3E;&#xAE30;
                  | 
                  li
                    a(href='#') &#xBE44;&#xBC00;&#xBC88;&#xD638; &#xCC3E;&#xAE30;
                  | 
                  li
                    a(href='/join') &#xD68C;&#xC6D0;&#xAC00;&#xC785;
                  | 
            .login-3rd-party
              p
                button#fbLogin.fb-login-btn(title='Facebook')
                  span Facebook 
              p
                button#gLogin.google-login-btn(title='Google')
                  span Google
        #modal-ajax.modalPopup
          .modalCon
            // modal content
            .message &#xD398;&#xC774;&#xC2A4;&#xBD81; &#xB85C;&#xADF8;&#xC778;&#xC744; &#xC704;&#xD574; &#xCE5C;&#xAD6C; &#xB9AC;&#xC2A4;&#xD2B8; &#xBC0F; &#xC774;&#xBA54;&#xC77C; &#xC815;&#xBCF4;&#xC5D0; &#xB300;&#xD55C; &#xB3D9;&#xC758;&#xAC00; &#xD544;&#xC694;&#xD569;&#xB2C8;&#xB2E4;.
            .button
              span#btnModalOk.btn &#xD655;&#xC778;
            // // modal content

      .footer
        p Copyright &copy; NCSOFT Corporation. All Rights Reserved.
